---
layout: base
---

{% assign sorted_items = site.manual | sort: 'order' %}
{% assign grouped_items = sorted_items | group_by: 'category' %}

<div class="city-width-container">
  <main class="city-main-wrapper city-main-wrapper--auto-spacing" id="main-content">
    <div class="city-grid-row">
      <div class="city-grid-column-two-thirds-from-desktop">
        <div class="city-!-margin-bottom-8">
          <h1 class="city-heading-xl">{{page.title}}</h1>
          <p class="city-body-l">{{page.description}}</p>
        </div>
      </div>
    </div>

    {% assign grouped_items = sorted_items | group_by: 'category' %}
    {% for group in grouped_items %}
      <div class="city-grid-row">
        <div class="city-grid-column-full">
          <h2 class="city-heading-m city-!-margin-bottom-1">{{ group.name }}</h2>
        </div>
      </div>
      
      <div class="city-grid-row">
        {% for item in group.items %}
          <div class="city-grid-column-one-third">
            <h3 class="city-heading-s city-!-margin-bottom-1">
              {% if item.status == 'unpublished' %}
                {{ item.title }} 
              {% else %}
                <a class="city-link" href="{{ item.url }}">
                  {{ item.title }} 
                </a>
              {% endif %}
            </h3>
            <p class="city-body-s">
              {{ item.description }} 
            </p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  </main>
</div>